<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mgo_1" connectionString="B+oowOc+RL6t+UX/uwkAjWkagtxH+8vhTFZPg/9vjzRQSRerjNEr0sKZxgKwNM0jEd8YATuQ9pCcDAO8iwWqQbMsUCidbAyrrq7QGMpGNXr/LEUIVFIb9iqtDA99bfD2vzp3s7OR2Yx4xnzWEuBBysj2HDHE4+yMfHv33fTCIybq60ArtCkjMWaVxlySa+XHYdb3JsCVxI1+FrcLGRKiyFAHu1r4NhkvUhixKI9WEM+etDlN9jZ9OfXsoYDL88sdvYBgPT9lYobgJLuc7Q3zac9lyA9T4/ZBABuafrQtFhXXO2jw2AOtJduxUFIuuguRw33qqZnTtsP3XqoULyGbDg==" />
		<add name="mgo" connectionString="ODc9qZk3IJUsdqxxyBO0F08G3VVXgTfI+Swb4WZ7a4qep45Xr9jwMiilOWLClBwp" />
		<add name="mgo.dev" connectionString="mongodb://signavio:signavio@127.0.0.1:27017" />
		<add name="dev.rpa" connectionString ="MZrpM2QSdInhB3vJWCXVeX3rGOyglkOjPU3Gnt5qJhTv+ZWalG8YgnKtklZaf4YFhXzufPIMwXAxoeiQ1Gv/hCXQ+P10Wi6cTqhkRw4grukQB8M2PBGoNfOWXw2WgtAf"/>
		<add name="uat.rpa" connectionString ="CKNiky20mL5/UcUBCBPGIjG8DrIJwq7pEVCcxaQcmKS4fAVCfKuhJzkkfKoKWugQXeu9iBB+bwe2uxp2WuRzDvBuphbXWzVdkU6s3N4bdt0GO6BjPScV1UqnqjakM7ZVLMQyeWdjmCNSXCoEO7h/Kw=="/>
		<add name="prod.rpa" connectionString ="CKNiky20mL5/UcUBCBPGIvyzdHnZ+Jdi7S6rb3sasiKNOkfDPL0HknUSdoYkj3zUAfV18GnaPoFwwQ13aJhfOMc2FySRtj1RreLqU3rKYt0Eqg7RiWdkO3B2tb/d/n2lnZi4SxH+vKPfYm+OLsFO5w=="/>
	</connectionStrings>
	<appSettings>
		<add key="debug" value="true" />
		<add key="env" value="dev" />
		<add key="smtp.sender" value="svea@alliancefg.com" />
		<add key="email.subject" value="Pulse Checker Server" />
		<add key="default_db" value="signavio" />
		<add key="certname" value="IIS Express Development Certificate" />
		<add key="diff_minutes" value="60" />
		<add key="email_freq_minutes" value="10" />
		<add key="cronjob" value="*/1 * * * * " />

		<add key="dev.email.ip" value="smtp.gmail.com" />
		<add key="dev.imap.ssl" value="true" />
		<add key="dev.imap.port" value="993" />
		<add key="dev.smtp.port" value="587" />
		<add key="dev.smtp.ssl" value="false" />
		<add key="dev.email.support" value="chooyee@gmail.com" />

		<add key="uat.email.ip" value="172.16.11.22,172.16.11.23,172.15.11.15,172.15.11.16,172.15.5.8,172.16.1.21" />
		<add key="uat.imap.port" value="993" />
		<add key="uat.imap.ssl" value="true" />
		<add key="uat.smtp.port" value="25" />
		<add key="uat.smtp.ssl" value="false" />
		<add key="uat.email.support" value="leechooyee@alliancefg.com" />

		<add key="prod.smtp.port" value="25" />
		<add key="prod.smtp.ssl" value="false" />
		<add key="prod.imap.port" value="143" />
		<add key="prod.imap.ssl" value="false" />
		<add key="prod.email.ip" value="172.16.11.22,172.16.11.23,172.15.11.15,172.15.11.16,172.15.5.8,172.16.1.21" />
		<add key="prod.email.support" value="ploan2@alliancefg.com" />

	</appSettings>
</configuration>